@charset "utf-8";
/* CSS Document */
/* reset.css*/
html{
	color:#000;background:#FFF;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,
fieldset,input,textarea,p,blockquote,th,td{
	margin:0;
	padding:0;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img{
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var{
	font-style:normal;
	font-weight:normal;
}
ol,ul{
	list-style:none;
}
caption,th{
	text-align:left;
}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:normal;
}
q:before,q:after{
	content:'';
}
abbr,acronym{
	border:0;
}


/* common.css*/
a{text-decoration: none;}
.pull-left{ float:left;}
.pull-right{ float:right;}
.mt5{ margin-top:5px;}
.mt10{ margin-top:10px;}
.mr10{ margin-right:10px;}
.mb10{ margin-bottom:10px;}
.ml10{ margin-left:10px;}
.pt10{ padding-top:10px;}
.pr10{ padding-right:10px;}
.pb10{ padding-bottom:10px;}
.pl10{ padding-left:10px;}
.mt20{ margin-top:20px;}
.mAll10,.pAll10{ padding:10px;}
.clear{ clear:both; height:1px; width:100%;}
.clearfix{clear:both; width:100%;}
.fs10p{ font-size:10pt; }
.dlt{ margin-bottom:20px;border-bottom:1px solid #666; height:0; width:100%；}/*dashed line top*/